body{
    
    font-family: Georgia, serif;
    background-color: rgba(22, 25, 35, 1);
    border-radius: 10px;
    color: white;
    scrollbar-color: rgb(4 5 45) rgb(4 17 45);
    display: flex;
    align-items: top;
}

#sidebar{

    float: left;
    border-color: black;
    border-right-style: solid;
    box-shadow: 1px 0px 5px black;
    overflow-y: scroll;
    scrollbar-color: rgb(4 5 45) rgb(4 17 45);
    height: 100vh;
}

#sidebar p{

    margin: 0px;
    padding: 20px;

}

#new_message_header{

    border-color: black;
    border-bottom-style: solid;
    font-size: 130%;
    color: grey;
}

.sender{
    border-color: black;
    border-bottom-style: solid;
    cursor: pointer;
}

.sender:hover{

    background-color: grey;
}

#person_selected{

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    overflow-y: scroll;

}

#person_selected > a{

    margin-right: 10px;
    margin-bottom: 10px;
}

.message{

    text-align: left;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    color: black;
    background-color: white;
    margin-top: 10px;
    
}

.message a{

    font-size: small;
}